tkinliğine hoş geldiniz! <br><br>BigBlueButton'u kullanma konusunda yardım için şu (kısa) <a target="_blank" href="http://docs.tolteklive.com"> <u> eğitim videolarını</u></a> kullanabilirsiniz. <br> <br> Etkinliğe sesle katılmak için telefon düğmesine tıklayın. Başkaları için arka plan gürültüsüne neden olmamak için bir kulaklık kullanın.